version: 2

updates:
  - package-ecosystem: npm
    directories:
      - /
      - /functions
    schedule:
      interval: monthly
      time: "05:00"
      timezone: America/Los_Angeles
    groups:
      new-versions:
        applies-to: version-updates
        update-types:
          - patch
          - minor
          - major
      security-patches:
        applies-to: security-updates
        update-types:
          - patch
          - minor
          - major
